<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>NPR News Articles and Comments Board!</h1>
        </div>
    </div>
    <div class="row">
        {{!-- This will hold both the list of the articles and the comments that go to them..... should probably reference the exercised to see how they populated the side with the specific notes --}}
    </div>
</div>