{{!-- <div class="card">
    <div class="card-body">
        <li>
            <img src="{{photo}}" alt="npr scrapped photo link">
            {{title}}
            {{summary}}
            <a href="{{link}}">Link to the article here!</a>
        </li>
    </div>
</div> --}}